.idc4u7 {
  background-image: url("../assets/images/IDC4U7/IMG_0888.JPG");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 100px;
}

.idc4u7-landing {
  box-shadow: 50px 20px 100px 50px #414141;
}

.section-idc4u7-more {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  min-height: 70vh;
  padding-bottom: 100px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 20px;
    box-shadow: 50px 20px 100px #ffe3af;
  }
}
