body {
  background-image: linear-gradient(to right, #191919 0%, #191919 100%);
}

.wrapper {
  min-height: 100vh;
  padding-bottom: 100px;
}

.secondary-nav {
  background-color: #faf9fa;
}

.footer {
  background-color: #191919;
  p {
    margin: auto;
    color: white;
    opacity: 0.5;
  }
}
#underline {
  width: 50%;
  border: 2px solid #00cdac;
  opacity: 0.75;
}
.landing {
  background-image: url("../assets/images/landing.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#jumbo {
  animation: jumbo 2s 1;
  animation-direction: alternate;
}

@keyframes jumbo {
  50% {
    left: 100px;
  }
}

.section-about {
  background-image: linear-gradient(to right, #01826d -90%, #00cdac 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  padding-bottom: 10%;
  img {
    max-width: 250px;
    border-radius: 10%;
    box-shadow: 10px 20px 50px rgb(0, 0, 0);
  }
}

.section-software {
  img {
    max-width: 250px;
    max-height: 300px;
    min-width: auto;
    min-height: auto;
    border-radius: 10%;
    box-shadow: 10px 20px 50px #015a4b;
  }
  #not-visible {
    display: none;
  }
}

.section-contact {
  background-color: white;
  clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
}

// React Table
.ReactTable a {
  color: black;
}

.react-data-table {
  background-color: white;
}

.software-page {
  background-image: linear-gradient(90deg, #01826d -90%, #00cdac);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  height: 100%;
  min-height: 100vh;
  padding-bottom: 100px;
}

.login-page,
.portal-page,
.portal-page-database {
  background-color: white;
  height: 100%;
  min-height: 100vh;
}

// List
.list-items {
  list-style-position: inside;
  text-indent: -1.5em;
  padding: 80px 25px;
}
.list-items h4 {
  font-size: 23px;
}
.list-items p {
  font-size: 13px;
}
